<!DOCTYPE html>
<html>
<head>
	<title>Login</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/toc/resources/css/mobile/jquery.mobile-1.4.4.min.css" />
	<script src="/toc/resources/js/jquery-2.1.0.js"></script>
	<script src="/toc/resources/js/mobileconfig.js"></script>
	<script src="/toc/resources/js/jquery.mobile.custom.min.js"></script>
</head>
<body>

<div data-role="page">

	<div data-role="header">
		<h1>Login</h1>
	</div>

	<div role="main" class="ui-content">
		<form name="input" action="/toc/login" method="post">
		
		<table align="center">
			<tr>
				<td align="right">User</td>
				<td align="left"><input type="text" name="user" value=""></input></td>
			</tr>
			<tr>
				<td align="right">Password</td>
				<td align="left"><input type="password" name="password" value=""></input></td>
			</tr>
			<tr>
			#if ($oops)
				<td colspan="2" align="center" style="color:red">Wrong</td>
			#else
				<td></td>
			#end
			</tr>
			<tr>
				<td colspan="2" align="center">
					<a href="/toc/mobile/player/forgotPassword">Forgot password</a>
				</td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<input id="submit" type="submit" value="Log In">
				</td>
			</tr>
		<table>
		
		</form>
	</div>

</div>

</body>
</html>