<!DOCTYPE html>
<html>
<head>
	<title>What do you want to do</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/toc/resources/css/mobile/jquery.mobile-1.4.4.min.css" />
	<script src="/toc/resources/js/jquery-2.1.0.js"></script>
	<script src="/toc/resources/js/mobileconfig.js"></script>
	<script src="/toc/resources/js/jquery.mobile.custom.min.js"></script>
</head>
<body>

<div data-role="page" id="mobileseasons">
	<script src="/toc/resources/js/mobileseasons.js"></script>

	<div data-role="header">
		<table width="100%">
			<tr>
				<td align="left">
					<input type="button" value="<-- Back"
					onClick="window.location.href='/toc/mobile'">
				</td>
				<td align="center">
					<img id="texastoc" src="/toc/resources/img/texastoc.50x50.png">
				</td>
				<td align="right">
					<input type="button" value="Logout"
						onClick="window.location.href='/toc/logout'">
				</td>
			</tr>
		</table>
	</div>

	<div role="main" class="ui-content">
		<ul data-role="listview">
		#foreach($season in $seasons)
			<li>
			<a href="/toc/mobile/season/summary/$season.id">
				$season.startDateYearText - $season.endDateYearText
				#foreach ($champ in $champions)
					#if ($season.id == $champ.seasonId)
						#if ($readOnly == false)
							&nbsp;($!champ.player.firstInitial. $!champ.player.lastName $!champ.points)
						#else
							&nbsp;($!champ.player.obfiscatedFullName $!champ.points)
						#end
					#end
				#end
			</a>
			</li>
		#end
		</ul>
	</div>

	<div data-role="footer">
	</div>

</div>

</body>
</html>