			<form id="randomform" name="input" action="/toc/mobile/game/randomize/$game.id" method="post">
			#set($numPlayers = $game.players.size())
			<table>
				<tr>
					<td>Table 1 players:</td>
					<td>
						<select id="numTable1" name="numTable1">
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
						<select>
					</td>
				</tr>
				<tr>
					<td>Table 2 players:</td>
					<td>
						<select id="numTable2" name="numTable2">
							<option value="0">0</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
						<select>
					</td>
				</tr>
				<tr>
					<td>Table 3 players:</td>
					<td>
						<select id="numTable3" name="numTable3">
							<option value="0">0</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
						<select>
					</td>
				</tr>
				<tr>
					<td>Table 4 players:</td>
					<td>
						<select id="numTable4" name="numTable4">
							<option value="0">0</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
						<select>
					</td>
				</tr>
				<tr>
					<td>Table 5 players:</td>
					<td>
						<select id="numTable5" name="numTable5">
							<option value="0">0</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
						<select>
					</td>
				</tr>
			</table>
			<br/>
			
			Optionally select a player for table 1
			<select name="table1seat">
				<option value="#">&nbsp;</option>
				#foreach($gamePlayer in $game.players)
					<option value="$gamePlayer.player.id">$gamePlayer.player.fullName</option>
				#end
			</select>
			
			
			#if (! $game.finalized)
				<br/>
				<br/>
				<input id="submit" type="submit" value="Randomize">
			#end
			</form>
