<!DOCTYPE html>
<html>
<head>
	<title>Select a game or start a new game</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/toc/resources/css/mobile/jquery.mobile-1.4.4.min.css" />
	<script src="/toc/resources/js/jquery-2.1.0.js"></script>
	<script src="/toc/resources/js/mobileconfig.js"></script>
	<script src="/toc/resources/js/jquery.mobile.custom.min.js"></script>
</head>
<body>

<div data-role="page">

	<div data-role="header">
		<table width="100%">
			<tr>
				<td align="left">
					<input type="button" value="<-- Back"
					onClick="window.location.href='/toc/mobile'">
				</td>
				<td align="center">
					<img id="texastoc" src="/toc/resources/img/texastoc.50x50.png">
				</td>
				<td align="right">
					<input type="button" value="Logout"
						onClick="window.location.href='/toc/logout'">
				</td>
			</tr>
		</table>
	</div>

	<div role="main" class="ui-content" align="center"">
	#set($hasErrors = false)
	#foreach($error in $problems)
		#set($hasErrors = true)
		#break
	#end 
	#if ($hasErrors == true)
		<span style="color:red;">
		<div id="validationErrors">
			#foreach($error in $problems)<br/> $error #end 
		</div>
		</span>
	#end

	#if ($inputs)
	#end	
	<form name="input" action="/toc/mobile/player/generatePassword" method="post">

	<table>
		<tr>
			<td colspan="2">Enter your email and click submit. A new password will be emailed to you.
			<br>After you log in with tne new password you can change it to something you like better.</td>
		</tr>
		<tr>
			<td align="right">Your email:</td>
			<td><input type="text" name="email" value="$!email"></td>
		</tr>
		<tr>
			<td align="center" colspan="2">
				<input id="submit" type="submit" value="Submit">
			</td>
		</tr>
	</table>
	</form>
	</div>
</div>

</body>
</html>