<!DOCTYPE html>
<html>
<head>
	<title>What do you want to do</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/toc/resources/css/mobile/jquery.mobile-1.4.4.min.css" />
	<script src="/toc/resources/js/jquery-2.1.0.js"></script>
	<script src="/toc/resources/js/mobileconfig.js"></script>
	<script src="/toc/resources/js/jquery.mobile.custom.min.js"></script>
</head>
<body>

<div data-role="page">

	<div data-role="header">
		<table width="100%">
			<tr>
				<td align="left">
					<input type="button" value="<-- Back"
					onClick="window.location.href='/toc/mobile/numbers'">
				</td>
				<td align="right">
					<input type="button" value="Logout"
						onClick="window.location.href='/toc/logout'">
				</td>
			</tr>
		</table>
	</div>

	<div role="main" class="ui-content">
	<h1>Point System</h1>
	<table cellspacing="5">
		<tr>
			<th>Players</th>
			<th>1</th>
			<th>2</th>
			<th>3</th>
			<th>4</th>
			<th>5</th>
			<th>6</th>
			<th>7</th>
			<th>8</th>
			<th>9</th>
			<th>10</th>
		</tr>
		#foreach($topTen in $topTenPoints)
			<tr>
				<td style="border-bottom: 1px solid black;" align="center">$topTen.numPlayers</td>
				<td style="border-bottom: 1px solid black;">$topTen.getPointsForPlace(1)</td>
				<td style="border-bottom: 1px solid black;">$topTen.getPointsForPlace(2)</td>
				<td style="border-bottom: 1px solid black;">$topTen.getPointsForPlace(3)</td>
				<td style="border-bottom: 1px solid black;">$topTen.getPointsForPlace(4)</td>
				<td style="border-bottom: 1px solid black;">$topTen.getPointsForPlace(5)</td>
				<td style="border-bottom: 1px solid black;">$topTen.getPointsForPlace(6)</td>
				<td style="border-bottom: 1px solid black;">$topTen.getPointsForPlace(7)</td>
				<td style="border-bottom: 1px solid black;">$topTen.getPointsForPlace(8)</td>
				<td style="border-bottom: 1px solid black;">$topTen.getPointsForPlace(9)</td>
				<td style="border-bottom: 1px solid black;">$topTen.getPointsForPlace(10)</td>
			</tr>
		#end
	</table>
	</div>

</div>

</body>
</html>