<!DOCTYPE html>
<html>
<head>
	<title>Select a game or start a new game</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/toc/resources/css/mobile/jquery.mobile-1.4.4.min.css" />
	<script src="/toc/resources/js/jquery-2.1.0.js"></script>
	<script src="/toc/resources/js/mobileconfig.js"></script>
	<script src="/toc/resources/js/jquery.mobile.custom.min.js"></script>
	<script src="/toc/resources/js/mobilegame_v1_8.js"></script>
	<script src="/toc/resources/js/mobileclock_v1.5.js"></script>
	<script src="/toc/resources/js/mobileseated.js"></script>
	<script src="/toc/resources/js/ion.sound.js"></script>
</head>
<body>

<div data-role="page">

	<div data-role="header">
		<table width="100%">
			<tr>
				<td align="left">
					<input type="button" value="<-- Back"
						onClick="window.location.href='/toc/mobile'">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</td>
				<td align="center">
					<img id="texastoc" src="/toc/resources/img/texastoc.50x50.png">
				</td>
				<td align="right">
					<input type="button" value="Refresh"
						onClick="window.location.href='/toc/mobile/game/$game.id'">
					&nbsp;&nbsp;&nbsp;
					<input type="button" value="Logout"
						onClick="window.location.href='/toc/logout'">
				</td>
			</tr>
		</table>
	</div>

	#set ($d = "$")	
	
	<div data-role="tabs" align="center">
    	<div data-role="navbar">
        	<ul>
          		<li><a href="#one" data-theme="a" data-ajax="false" class="ui-btn-active">Players</a></li>
          		<li><a href="#four" data-theme="a" data-ajax="false">Clock</a></li>
          		<li><a href="#three" data-theme="a" data-ajax="false">Money</a></li>
				#if ($readOnly == false)
          		<li><a href="#two" data-theme="a" data-ajax="false">Seating</a></li>
          		#end
        	</ul>
    	</div>
	    <div id="one" class="ui-content">
	    	#if ($errorMsg)
		    	<div id="error" style="color:red;">
		    		Please correct the following problem:
		    		<br/>
		    		$errorMsg
		    	</div>
		    		<br/>
	    	#end

			Date: $game.gameDateText 
			<span style="border-left: thin solid black;">&nbsp;</span> 
			Host: 
			#if ($readOnly == true)
				$host.obfiscatedFullName
			#else
				$host.fullName
			#end
			<span style="border-left: thin solid black;">&nbsp;</span> 
			Double buy in:
			#if($game.doubleBuyIn) Yes #else No #end
			<span style="border-left: thin solid black;">&nbsp;</span> 
			Paid Players $!game.numPlayers

			#if(!$clock.running && $clock.currentLevel.round == 'Round 1')
				&nbsp;<span style="border-left: thin solid black;">&nbsp;</span>
				Transport Supplies Required:  
				#if($game.transportRequired)
					#if ($readOnly == true)
					   Yes
					#else
					 <a href="/toc/mobile/game/transport/$game.id?required=false">Yes</a>
					#end 
				#else
					#if ($readOnly == true)
					   No
					#else
					<a href="/toc/mobile/game/transport/$game.id?required=true">No</a>
					#end 
				#end
			#end
			<br/>
			<br/>
			<table id="players">
				<thead>
				<tr>
					<th>Name</th>
					<th>TOC</th>
					<th>QTOC</th>
					<th>Buy<br/>In</th>
					<th>Re<br/>Buy</th>
					<th>Fin</th>
					<th>Pts</th>
					<th>Chp</th>
				</tr>
				</thead>
	
				<tbody>		
				#foreach($player in $game.players)
					<tr>
						<td>
						#if($player.knockedOut)<span style="color:red">x</span>#end
						#foreach ($banker in $game.bankers)
							#if ($banker.id == $player.playerId) $d #end
						#end
						#if ($player.optIn) <img id="texastoc" src="/toc/resources/img/icon-clock-small.png"> #end
						#if ($player.emailOptIn) <img id="texastoc" src="/toc/resources/img/icon-small-email.gif"> #end
						#if ($readOnly == true)
							$!player.player.obfiscatedFullName
						#else
    						<a href="/toc/mobile/gameplayer/edit/$player.id">$!player.player.firstName<br/>$!player.player.lastName</a>
						#end
						</td>
						
						#if($player.annualTocPlayer)
							<td align="center">Yes</td>
						#else
							<td></td>
						#end
						#if($player.quarterlyTocPlayer)
							<td align="center">Yes</td>
						#else
							<td></td>
						#end
						#if($player.buyIn && $player.buyIn > 0)
							<td align="center">$d$player.buyIn</td>
						#else
							<td></td>
						#end
						#if($player.reBuyIn && $player.reBuyIn > 0)
							<td align="center">$d$player.reBuyIn</td>
						#else
							<td></td>
						#end
						<td align="center">$!player.finish</td>
						<td align="center">$!player.points</td>
						#if($player.chop && $player.chop > 0)
							<td>$player.chop</td>
						#else
							<td></td>
						#end
					</tr>
				#end
				<tbody>		
			</table>
			#if (! $game.finalized)
				#if ($game.finalizable)
				<input type="button" value="Game over"
					onClick="window.location.href='/toc/mobile/game/finalize/$game.id'">
				<br/>
				#end
				#if ($readOnly == false)
				<input type="button" id="addPlayer" value="Add Players"
					onClick="window.location.href='/toc/mobile/gameplayer/add/$game.id'">
				<br/>
				<input type="button" value="Add FNG"
					onClick="window.location.href='/toc/mobile/gameplayer/addfng/$game.id'">
				#end
			#end
			
			#if(!$clock.running && $clock.currentLevel.round == 'Round 1' && $readOnly == false)
				<br/>
				<input type="button" value="Rally"
					onClick="window.location.href='/toc/mobile/game/rally/$game.id'">
			#end
			
			<br><pre>$!game.note</pre>
			
			
	    </div>
	    <div id="two" class="ui-content">
	    	#if ($readOnly == false)
	    		#if ($game.seated)
		    		#parse("mobileseated.vm")
	    		#elseif ($game.seating)
		    		#parse("mobilerandomseating.vm")
	    		#else
		    		#parse("mobilerandomizeseating.vm")
	    		#end
	    	#end
    	</div>
	    <div id="three" class="ui-content">
			#set($all = $game.totalBuyIn + $game.totalReBuy + $game.totalAnnualToc + $game.totalQuarterlyToc)
			#set($pot = $game.totalBuyIn + $game.totalReBuy - $game.totalPotSupplies - $game.kittyDebit)
			#set($toc = $game.totalAnnualToc + $game.totalQuarterlyToc - $game.totalAnnualTocSupplies)
			#set($supplies = $game.totalPotSupplies + $game.totalAnnualTocSupplies)
			<table>
				<tr>
					<td>Paid Players: $!game.numPlayers</td>
				</tr>
				<tr>
					#if ($readOnly == false)
						<td>Money Collected: $d$all</td>
					#else
						<td>Money Collected: $d$d$d</td>
					#end
				</tr>
				<tr>
					#if ($readOnly == false)
						<td>Prize Pot: $d$pot</td>
					#else
						<td>Prize Pot: $d$d$d</td>
					#end
				</tr>
				<tr>
					#if ($readOnly == false)
						<td>TOC: $d$toc</td>
					#else
						<td>TOC: $d$d$d</td>
					#end
				</tr>
				
				#if ($readOnly == false)
					<tr>
						<td>Supply Kitty: $d$game.kittyDebit</td>
					</tr>
					#if ($supplies > 0)
						<tr>
							<td>Supplies: $d$supplies</td>
						</tr>
					#end
				#end
			</table>
			<br/>
			<br/>
			<table>
				#set($chop = false)
				#foreach ($payout in $game.payouts)
					#if ($payout.chopAmount)
						#set($chop = true)
					#end
				#end
				<tr>
					<th align="left">Place</th>
					<th align="left">Amount</th>
					#if($chop)
						<th align="left">Chop Amount</th>
						<th align="left">Chop Percent</th>
					#end
				</tr>
				#foreach ($payout in $game.payouts)
				<tr>
					<td align="center">$payout.place</td>
					#if($chop && $payout.chopAmount)
						#if ($readOnly == false)
							<td align="center"><strike>$d$payout.amount</strike></td>
							<td align="center">$d$payout.chopAmount</td>
							<td align="center">$payout.chopPercent</td>
						#else
							<td align="center"><strike>$d$d$d</strike></td>
							<td align="center">$d$d$d</td>
							<td align="center">$payout.chopPercent</td>
						#end
					#else
						#if ($readOnly == false)
							<td align="center">$d$payout.amount</td>
						#else
							<td align="center">$d$d$d</td>
						#end
					#end
				</tr>
				#end
				#if ($readOnly == false)
				<tr>
					<td align="center"
					#if($chop)
						colspan="2">
					#else
						>
					#end
						<input type="button" value="Add"
							onClick="window.location.href='/toc/mobile/game/addpayout/$game.id'">
					</td>
					<td align="center"
					#if($chop)
						colspan="2">
					#else
						>
					#end
						<input type="button" value="Remove"
							onClick="window.location.href='/toc/mobile/game/removepayout/$game.id'">
					</td>
				</tr>
				#end
			</table>
			#if ($readOnly == false)
				<input type="button" value="Procurement"
					onClick="window.location.href='/toc/mobile/game/procure/$game.id'">
			#end
    	</div>
 
 	    <div id="four" class="ui-content">
			<input type="hidden" id="gameId" name="gameId" value="$game.id">
			
			<table width="100%">
				<tr>
					<td align="center">
						<h1><span id="currentRound">$clock.currentLevel.round</span></h1>
						<span id="selectRound">
							#if ($readOnly == true)
								$clock.currentLevel.round
							#else
								<select id="round" name="round">
								#foreach($level in $clock.levels)
									<option value="$level.round"
									#if ($clock.currentLevel.round == $level.round)
										selected="selected"
									#end
									>$level.round</option>
								#end
							#end
						</select>
						</span>
					</td>
					<td align="center">
						<h1>
						<table>
							#if ($readOnly == false)
							<tr>
								<td align="center"><img id="dblUpMinutes" src="/toc/resources/img/dblup.arrow.png"></td>
								<td align="center"></td>
								<td align="center"><img id="dblUpSeconds" src="/toc/resources/img/dblup.arrow.png"></td>
							</tr>
							<tr>
								<td align="center"><img id="upMinutes" src="/toc/resources/img/up.arrow.png"></td>
								<td align="center"></td>
								<td align="center"><img id="upSeconds" src="/toc/resources/img/up.arrow.png"></td>
							</tr>
							#end
							<tr>
								<td align="center">
									<span id="remainingMinutes">$clock.remainingMinutes</span>
								</td>
								<td align="center">:</td>
								<td align="center">
									<span id="remainingSeconds">$clock.remainingSeconds</span>
								</td>
							</tr>
							#if ($readOnly == false)
							<tr>
								<td align="center"><img id="downMinutes" src="/toc/resources/img/down.arrow.png"></td>
								<td align="center"></td>
								<td align="center"><img id="downSeconds" src="/toc/resources/img/down.arrow.png"></td>
							</tr>
							<tr>
								<td align="center"><img id="dblDownMinutes" src="/toc/resources/img/dbldown.arrow.png"></td>
								<td align="center"></td>
								<td align="center"><img id="dblDownSeconds" src="/toc/resources/img/dbldown.arrow.png"></td>
							</tr>
							#end
						</table>
						</h1>
					</td>
					<td align="center">
						<h1>
						<span id="currentSmallBlind">$clock.currentLevel.smallBlind</span>
						<br/>
						<span id="currentBigBlind">$clock.currentLevel.bigBlind</span>
						<br/>
						<span id="currentAnte">$clock.currentLevel.ante</span>
						</h1>
					</td>
				</tr>
				<tr>
					<td align="center">
						<h2><span id="nextRound">$clock.nextLevel.round</span></h2>
					</td>
					<td colspan="2" align="right">
						<h2>
						<span id="nextSmallBlind">$clock.nextLevel.smallBlind</span>
						/
						<span id="nextBigBlind">$clock.nextLevel.bigBlind</span>
						/
						<span id="nextAnte">$clock.nextLevel.ante</span>
						</h2>
					</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				</tr>
				#if ($readOnly == false)
				<tr>
					<td align="center">
						<span id="leftarrow">
						<button id="prev">Prev</button>
						</span>
					</td>
					<td align="center">
						<button id="play">
					</td>
					<td align="center">
						<span id="rightarrow">
						<button id="next">Next</button>
						</span>
					</td>
				</tr>
				<tr>
					<td align="center">
						&nbsp;
					</td>
					<td align="center">
						&nbsp;
					</td>
					<td align="center">
						&nbsp;
					</td>
				</tr>
				<tr>
					<td align="center">
						&nbsp;
					</td>
					<td align="center">
						&nbsp;
					</td>
					<td align="center">
						&nbsp;
					</td>
				</tr>
				<tr>
					<td align="center">
						&nbsp;
					</td>
					<td align="center">
						<span id="resetClock">
						<button id="reset">Reset</button>
						</span">
					</td>
					<td align="center">
						&nbsp;
					</td>
				</tr>
				#end
			</table>
    	</div>
 	</div>
</div>
 	
</body>
</html>