<!DOCTYPE html>
<html>
<head>
	<title>Texas TOC home</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/toc/resources/css/mobile/jquery.mobile-1.4.4.min.css" />
	<script src="/toc/resources/js/jquery-2.1.0.js"></script>
	<script src="/toc/resources/js/mobileconfig.js"></script>
	<script src="/toc/resources/js/jquery.mobile.custom.min.js"></script>
</head>
<body>

<div data-role="page">

	<div data-role="header">
		<table width=100% align=right>
			<tr>
				<td align="right">
					<input type="button" value="Logout"
						onClick="window.location.href='/toc/logout'">
				</td>
			</tr>
		</table>
	</div>

	<div role="main" class="ui-content">
		<h1 align="center">
			<a href="/toc/resources/img/texastoc.spades.225x225.png" title="Click to enlarge">
				<img id="texastoc" src="/toc/resources/img/texastoc.spades.100x100.png">
			</a>
		</h1>
		<ul data-role="listview">
			#if ($allowGoToCurrentGame)
			<li>
				<a href="/toc/mobile/game/current">Current Game</a>
			</li>
			#elseif ($allowStartNewGame)
			<li>
				<a href="/toc/mobile/game/new">Start a New Game</a>
			</li>
			#end
			<li>
				<a href="/toc/mobile/seasons">Look at Results</a>
			</li>
			<li>
				<a href="/toc/mobile/emails">Send Email</a>
			</li>
			<li>
				<a href="/toc/mobile/numbers">Blinds/Payouts/Points</a>
			</li>
			<li>
				<a href="/toc/mobile/players">Players</a>
			</li>
			<li>
				<a href="/toc/mobile/supplies">Supplies</a>
			</li>
			<li>
				<a href="/toc/mobile/faq">FAQ</a>
			</li>
		</ul>
	</div>
</div>

</body>
</html>