#parse("header.vm")

<script src="/toc/resources/js/jquery-1.10.2.js"></script>
<script src="/toc/resources/js/jquery-ui-1.10.4.custom.js"></script>

<div id="main">
	<a href="/toc/admin/home">Home</a> -> 
	<a href="/toc/admin/seasons">Seasons</a> -> 
	<a href="/toc/admin/season/$seasonId">Season</a>

	<form name="input" action="/toc/admin/seasonplayer/update" method="post">
	<input type="hidden" id="id" name="id" value="$player.id">

	<br><br>
	$!player.player.firstName $!player.player.lastName
	<br><br>
	Forfeit:
		<select name="forfeit">
			<option value="true"
				#if ($player.forfeit)
					selected="selected"
				#end
				>True</option>
			<option value="false"
				#if (! $player.forfeit)
					selected="selected"
				#end
				>False</option>
		</select>

	<br><br>
	WSOP participant:
		<select name="wsop">
			<option value="true"
				#if ($player.wsop)
					selected="selected"
				#end
				>True</option>
			<option value="false"
				#if (! $player.wsop)
					selected="selected"
				#end
				>False</option>
		</select>

	<br><br>
	Tie:
		<input type="text" maxlength="2" id="tie" name="tie" value="$!player.tie">

	<br><br><br>
	<input id="submit" type="submit" value="Update">
	<input id="cancel" type="button" value="Cancel"
	onClick="window.location.href='/toc/admin/season/$seasonId'"></td>
	</form>
</div>

#parse("footer.vm")
